nav ul li a{
    text-decoration: none;
    color: rgb(22, 43, 75);

    font-size: 1.7em;
    font-family: "Papyrus";

    
}

nav a h1{
    color: rgb(22, 43, 75);
    font-size: 2em;
    font-family: "Papyrus";

}
nav{
    background-color: rgb(106, 130, 136);
}
#dropdownText{
    margin-left: 0.5em;
}
#navStyles{
    color: rgb(22, 43, 75);
}
#userdetails{
    color: rgb(22, 43, 75);
}
#loginlogout{
    color: rgb(22, 43, 75);
}

aside .card{
    font-size: 0.7em;
}
.card{
    background-color: white;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color:rgb(22, 43, 75);
    font-family: "Papyrus";
    font-weight: bold;
}
#cart-style{
    background-color:transparent;
    border-style:hidden
}

/* @media only screen and (min-width: 1250px){
} */
@media only screen and (max-width: 1249px) and (min-width: 768px){


    .img-fluid{
        height:12em;
        
    }
    
    

}

/* @media only screen and (max-width: 767px) 
{



    
}  */



