nav ul li a{
    text-decoration: none;
    color: rgb(22, 43, 75);

    font-size: 1.7em;
    font-family: "Papyrus";

    
}

nav a h1{
    color: rgb(22, 43, 75);
    font-size: 2em;
    font-family: "Papyrus";

}
nav{
    background-color: rgb(106, 130, 136);
}
#dropdownText{
    margin-left: 0.5em;
}
#navStyles{
    color: rgb(22, 43, 75);
}
#userdetails{
    color: rgb(22, 43, 75);
}
#loginlogout{
    color: rgb(22, 43, 75);
}

aside .card{
    font-size: 0.7em;
}
.card{
    background-color: white;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color:rgb(22, 43, 75);
    font-family: "Papyrus";
    font-weight: bold;
}
#cart-style{
    background-color:transparent;
    border-style:hidden
}
article
{

    display: grid;
    grid-template-columns: 48% 48%;
    

}

@media only screen and (min-width: 1250px){
    aside{
        
        margin-right: 30%;
        margin-left: 10em;
    }
    article{
        grid-template-columns: 80% 20%;
    }

}
@media only screen and (max-width: 1249px) and (min-width: 768px){
    aside{
        margin-right: 5%;
        margin-left: 5em;

    }

    .img-fluid{
        height:15em;

    }
    /* body{background-color: red;} */
    article{
        grid-template-columns: 70% 30%;
    }
}

@media only screen and (max-width: 767px) 
{
    aside{
        margin-right: 10%;
        margin-left: 10%;
        /*border-style: solid;
        border-width: 3px;
        border-color:  rgb(22, 43, 75);
        background-color: rgb(106, 130, 136); */
    }
    article{
        grid-template-columns: 100%;
    }


    /* body{background-color: green;} */
}

